h1 {
    color: rgb(0, 204, 0);
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    padding: 15px;
}
td {
    padding-right: 15px;
}

table {
    text-align: center;
    center: center;
}

.everything {
  background-color: black;
  padding: 50px;
  border-radius: 25px;
}

.everything h2, p {
  color: white;
}

span {
    text-decoration:underline;
    text-decoration-style: dotted;
}
